# What's going on in Ben's code?

I'm exploring code by Ben Batorsky (bpben): [github](https://github.com/filipemir/police-incident-dashboard/blob/master/make_geojson.ipynb)

Links:
- [my portfolio](github.com/DavidSmolinski/portfolio/tree/master/table%20of%20contents)

In [58]:
import re
import pandas as pd
import json
import requests

In [59]:
sql = """SELECT * from "12cb3883-56f5-47de-afa5-3b1cf61b257b" WHERE "YEAR" = '2019'"""

In [60]:
r = requests.get(f'https://data.boston.gov/api/3/action/datastore_search_sql?sql={sql}')
j = r.json()

In [61]:
def view_json(j, chars=False):
    j_str = json.dumps(j, indent=2)
    if chars:
        j_str = j_str[0:chars]
    print(f'-----\n{j_str}\n-----')

In [62]:
view_json(j, chars=1_200)

-----
{
  "help": "https://data.boston.gov/api/3/action/help_show?name=datastore_search_sql",
  "success": true,
  "result": {
    "records_truncated": true,
    "records": [
      {
        "STREET": "GENEVA AVE",
        "OFFENSE_DESCRIPTION": "VERBAL DISPUTE",
        "SHOOTING": null,
        "DISTRICT": "C11",
        "OFFENSE_CODE": "03301",
        "REPORTING_AREA": "344",
        "_full_text": "'-09':10 '-28':11 '-71.06796465':24,26 '00':14 '03301':2 '08':13 '2019':9,15 '21':12,18 '344':8 '42.30135087':23,25 '9':16 'ave':22 'c11':7 'dispute':6 'disputes':4 'geneva':21 'i192078547':1 'part':19 'saturday':17 'three':20 'verbal':3,5",
        "OCCURRED_ON_DATE": "2019-09-28 21:08:00",
        "DAY_OF_WEEK": "Saturday",
        "MONTH": "9",
        "HOUR": "21",
        "Long": "-71.06796465",
        "YEAR": "2019",
        "Lat": "42.30135087",
        "INCIDENT_NUMBER": "I192078547",
        "_id": 1,
        "OFFENSE_CODE_GROUP": "Verbal Disputes",
        "UCR_PART": "Part Three",
        "Location": "(42.30135087, -71.06796465)"
      },
      {
        "STREET": "BREMEN",
        "OFFENSE_DESCRIPTION": "LARCENY THEFT FROM MV - NON-ACCESSORY",
        "SHOOTING": null,

-----

In [63]:
j.keys()

dict_keys(['help', 'success', 'result'])

In [64]:
j = j['result']

In [65]:
j.keys()

dict_keys(['records_truncated', 'records', 'fields', 'sql'])

In [66]:
view_json(j['sql'])
j['fields']

-----
"SELECT * from \"12cb3883-56f5-47de-afa5-3b1cf61b257b\" WHERE \"YEAR\" = '2019'"
-----

[{'type': 'int4', 'id': '_id'},
 {'type': 'tsvector', 'id': '_full_text'},
 {'type': 'text', 'id': 'INCIDENT_NUMBER'},
 {'type': 'text', 'id': 'OFFENSE_CODE'},
 {'type': 'text', 'id': 'OFFENSE_CODE_GROUP'},
 {'type': 'text', 'id': 'OFFENSE_DESCRIPTION'},
 {'type': 'text', 'id': 'DISTRICT'},
 {'type': 'text', 'id': 'REPORTING_AREA'},
 {'type': 'text', 'id': 'SHOOTING'},
 {'type': 'text', 'id': 'OCCURRED_ON_DATE'},
 {'type': 'text', 'id': 'YEAR'},
 {'type': 'text', 'id': 'MONTH'},
 {'type': 'text', 'id': 'DAY_OF_WEEK'},
 {'type': 'text', 'id': 'HOUR'},
 {'type': 'text', 'id': 'UCR_PART'},
 {'type': 'text', 'id': 'STREET'},
 {'type': 'text', 'id': 'Lat'},
 {'type': 'text', 'id': 'Long'},
 {'type': 'text', 'id': 'Location'}]

In [67]:
df = pd.DataFrame(j['records'],
                 columns=[x['id'] for x in j['fields']])

In [68]:
df.head(1)

,_id,_full_text,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,1,"'-09':10 '-28':11 '-71.06796465':24,26 '00':14...",I192078547,03301,Verbal Disputes,VERBAL DISPUTE,C11,344,None,2019-09-28 21:08:00,2019,9,Saturday,21,Part Three,GENEVA AVE,42.30135087,-71.06796465,"(42.30135087, -71.06796465)"

In [69]:
df.shape

(32000, 19)